/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0a0b0fFF;
    background-alt: #101010FF;
    foreground:     #FFFFFFFF;
    selected:       #637589FF;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
