/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0b0d0eFF;
    background-alt: #232a2dFF;
    foreground:     #FFFFFFFF;
    selected:       #999999ff;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
